# S2Pandas key features

You can try out vgridpandas by using the cloud-computing platforms below without having to install anything on your computer:

[![image](https://jupyterlite.rtfd.io/en/latest/_static/badge.svg)](https://vgridpandas.gishub.vn/lab/index.html?path=notebooks/00_intro.ipynb)
[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/opengeoshub/vgridpandas/blob/master)
[![image](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/opengeoshub/vgridpandas/HEAD)

## Install vgridpandas

In [1]:
# %pip install vgridpandas

## S2

### Latlong to S2

In [2]:
import pandas as pd
from vgridpandas import s2pandas
df = pd.DataFrame({'lat': [10.775299665325505, 10.775299665325505], 'lon':[106.70647975040788,-171.58256682775985]})
resolution = 0
df = df.s2.latlon2s2(resolution)
df

           lat         lon
s2_00
3      10.7753  106.706480
7      10.7753 -171.582567

### S2 to geo boundary

In [3]:
df = df.s2.s22geo()
df
# df.to_file(f"s2_{resolution}.geojson", driver="GeoJSON")

           lat         lon                                           geometry
s2_00
3      10.7753  106.706480  POLYGON ((45 -35.26439, 135 -35.26439, 135 35....
7      10.7753 -171.582567  MULTIPOLYGON (((180 35.26439, 135 35.26439, 13...